.header {
    margin-top: 0px;
    height : 50px;
    width: full;
    background-color: crimson;
}

.status {
    height : 20px;
    width : 120px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: darkgray;
}

.logIn_Out {
    margin-top: 18px;
    margin-left: 20px;
    color: black;
}

#not_connected {
    color: black;
    padding: 6px;
    size: 10px;
}